<ion-header>
  <ion-toolbar color="primary">
      <ion-title mode="ios" style="font-size: 16pt;">Mockup - Surf / Anchor App
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

      <div *ngIf="showFloatingButton" class="floating-button-container">
        <ion-fab>
          <ion-fab-button class="animated-fab">
            <ion-icon name="navigate-circle-outline" style="font-size: 120px;"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      
</ion-content>
